<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="INSTALL_COMMAND" value=" install -c g2-is liquidshca -y --no-deps"/>
    <add key="UNINSTALL_COMMAND" value=" uninstall liquidshca -y"/>
    <add key="LiquidsHCACondaPackageName" value="liquidshca"/>
  </appSettings>
</configuration>